.header {
    background-color: black;
    height: 60px;
    text-align: center;
}

.label-header {
    font-weight: bold;
    font-size: 18;
    color: white;
    display: inline-block;
    margin-top: 15px;
}

.label-goto {
    font-weight: bold;
    font-size: 18;
    color: aqua;
    margin-left: 5px;
}

.carousel {
    background-color: rgb(73, 70, 70);
    height: 50%;
    text-align: center;
}

.title-app {
    color: #61dafb;
    text-align: center;
    letter-spacing: 0.01em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 3em;
    margin: 0.67em 0;
}

.sub-title-app {
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 200;
    color: white;
    box-sizing: inherit;
}
.submit-box{
    text-align: right;
    padding-right: 7px;
    padding-left: 7px;
    padding-left: 20px;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.submit-box a{
    display: inline-block;
    font-size: 16px;
    background-color: #61dafb;
    color: #000000;
    padding: 10px 25px;
    white-space: nowrap;
    transition: background-color 0.2s ease-out;
    -webkit-transition: background-color 0.2s ease-out;
    color: inherit;
    text-decoration: none;
    box-sizing: inherit;
}

.submit-box a:hover {
    background-color: antiquewhite;
    transition: 0.5s;
}

.label-tutor {
    padding-left: 15px;
    padding-right: 7px;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    display: block;
}

.label-tutor a {
    font-size: 20px;
    color: #61dafb;
    transition: color 0.2s ease-out;
    -webkit-transition: color 0.2s ease-out;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    box-sizing: inherit;
}

@media screen and (max-width: 388px) { 
    .header {
        height: 80px;
    }
    
}
