<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form th:action="@{/user/save}" method="post" th:object="${login}">
            <input type="text" name="login_id" id="login_id" th:field="*{login_id}" placeholder="id" />
            <input type="text" name="employee_email" id="employee_email" th:field="*{employee_email}" placheholder="email" />
            <input type="password" name="login_password" id="login_password" th:field="*{login_password}" placheholder="password"  />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>