<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form th:action="@{/employee/save}" method="post" th:object="${employee}">
            <input type="text" name="employee_id" id="employee_id" th:field="*{employee_id}" placeholder="id" />
            <input type="text" name="employee_name" id="employee_name" th:field="*{employee_name}" placheholder="name" />
            <input type="text" name="employee_address" id="employee_address" th:field="*{employee_address}" placheholder="address" />
            <input type="text" name="employee_phone" id="employee_phone" th:field="*{employee_phone}" placheholder="phone" />
            <input type="text" name="employee_email" id="employee_email" th:field="*{employee_email}" placheholder="email"  />
            <input type="date" name="employee_joindate" id="employee_joindate" th:field="*{employee_joindate}" placheholder="join date" />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>