<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a th:href="@{/drug/form}">Create</a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="drug: ${drugs}">
                    <td th:text="${drug.drug_id}">
                    <td th:text="${drug.drug_name}"> 
                    <td th:text="${drug.stock}">   
                    <td th:text="${drug.price}">
                    <td><a th:href="@{drug/form/{id} (id = ${drug.drug_id})}">Edit</a> | 
                        <form th:action="@{/drug/delete/{id} (id = ${drug.drug_id})}" method="post">
                            <button type="submit">Delete</button>    
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>